*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Times New Roman', Times, serif;
}
.container{
    display: flex;
    justify-content: center;
    padding: 50px 20px;
}
h3{
    font-size: 30px;
}
